*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/kiberwifi-sdk/build
/sample-host-app/build
/captures
.externalNativeBuild
.cxx
local.properties
